@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #323232;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #e3dfff;
  color: black;
  margin: 2em 0;
  padding: 1em 2em;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.btn-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  background: #07fcdf;
}

.btn-item:hover {
  -webkit-filter: none;
          filter: none;
  background: #02ceb5;
}

.btn-item img {
  display: block;
  margin-right: 0.5em;
}

.item__link {
  margin: 0;
  margin-right: 0.5em;
  color: inherit;
  text-decoration: none;
}

.item__link:hover {
  color: white;
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: inherit;
}

.close-btn:hover {
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  width: 70vw;
  background: white;
  border-radius: 20px;
  height: auto;
  position: relative;
  -webkit-animation: modalopen 1s;
          animation: modalopen 1s;
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal .close-btn:hover {
  color: purple;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__header {
  margin: 0;
  padding: 0.1em 0;
  background: #e3dfff;
  border-radius: 20px 20px 0 0;
}

.modal__body {
  width: 80%;
  margin: 1em auto;
}

.modal__body label {
  display: block;
  text-align: left;
}

.modal__body input {
  width: 100%;
  font-family: inherit;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

.modal__body input:active, .modal__body input:focus {
  -webkit-box-shadow: 0 0 0 1px purple;
          box-shadow: 0 0 0 1px purple;
  border: 1px solid purple;
}

.modal__body .submit-btn {
  border: none;
  font-family: inherit;
  font-weight: inherit;
  margin: 0.5em;
  outline: none;
}

@media (min-width: 600px) {
  .modal {
    max-width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */